.todo-list-item {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.todo-list-item-text {
  width: 270px;
  text-wrap: 'wrap';
  word-wrap: break-word;
}

.todo-list-item-btn {
  height: 35px;
  padding: 6px;
}
.item-btn-icon {
  width: 4px;
}
.done {
  text-decoration: line-through;
}
.important {
  color: tomato;
  font-weight: 700;
}
